<div class="containerOutter">

  <!-- <img class="titleImage" src="../assets/ram1.PNG" alt=""> -->
  <div class="makkiDi">
    <h4>Makki Di Rooti</h4>
    <h4>Sarson Da Saag #DhabaSocial</h4>
  </div>

  <div class="cchd">
    <h4>Chuhla Choki</h4>
    <h4>Da Dhaba...</h4>
  </div>

  <div class="dkh">
    <h4>Dhakka</h4>
    <h2>Hai ??</h2>
  </div>

  <div class="pub">
    <img src="../assets/beer-icon.png" alt="">
    <h4>IRISH</h4>
    <h2>PUB </h2>
  </div>
  <img class="titleImage-2" src="../assets/ram1.PNG" alt="">
  <img class="titleImage-3" src="../assets/ramu3.PNG" alt="">
  <img src="../assets/planet7.jpg" alt="" class="planet7">
  <div class="straight">
    <h1 class="title"> Ramu for being an awesome friend!</h1>
  </div>
</div>

<div class="description" *ngIf='show'>
  <h2>Description</h2>
  <button mat-raised-button (click)='hide()'><b><i class="fas fa-times"></i></b></button>
  <p>Please don't read too much into some stuff that i wrote. The tone if some things can be too deep, but keep in mind it's all friendly. Consider everything from a Friends Only perspective
    and do not get mad. Some of the things are way to cheesy, sorry for that. "I will grow up some day, till than excuse my mistakes."
  </p>

  <h2>Ramona / Ramu / Murakh / Dhano</h2>
  <p>Ramu you are the most kind person that i have ever met, could not let you go without a proper send off.</p>
  <p>That is why i created this, maybe it helps you realise how much you mean to me.</p>
  <p>All the time when i ditched you, I was trying to meet you but in these cases I could not. It has always been important to me to meet you.</p>
  <p>Half of the time when I came to pritech was just to meet you with some made up excuses to the manager. Hanging out with you have always been the Highlight of my day.</p>

  <hr>
  <p>By the Thanks for telling me that it was your last day (when it was), If I hadn't been to voyager that day, i would have never known.</p>

  <hr>

  <p>Now that you leaving I am struck by the fact that hanging out with you is going to be extremely hard. I kick myself now for ditching you. Even though i really tried.</p>

  <hr>

  <p>I wish you all the best and I hope we will meet again someday - Desperatly looking forward to it already.</p>

  <p>You friend,</p>
  <p>Sagar Sharma</p>

</div>

<img src="../assets/LC-SKU52.jpg" alt="" class="cookieMilk">
<img src="../assets/hello-dribbble-800x600.gif" alt="" class="hdribbble">
<img src="../assets/galshir-responsive.gif" alt="" class="plutonicLove">
<img src="../assets/plane-love.jpg" alt="" class="plane">
<img src="../assets/give-01_1x.png" alt="" class="giveLove">
<img src="../assets/galshir-eclipse.gif" alt="" class="eclipse">



<div class="timeline">
  <div class="container left">
    <div class="content">
      <h2>July, 2017</h2>
      <p>I met you around these days. You were awesome and so <i>Confident. </i> I was blown away, from that moment I knew i have to be friends with you no matter how shy i was.
      And we watched <b>Baby Driver</b></p>
    </div>
  </div>

  <div class="container right">
    <div class="content">
      <h2>July 10, 2017</h2>
      <p>Finaly the time to watch <i><b>Spider Man - Homecoming</b></i> with you. I remember how annoyed you were :D . But it was a realy fun.</p>
    </div>
  </div>

  <div class="container left">
    <div class="content">
      <h2>July 22, 2017</h2>
      <p>Rahul's Birthday, Remember that King's drinking game. I hadn't started drinking yet. Even sober that game was confusing till this date i haven't gotten it.</p>
    </div>
  </div>

  <div class="container right">
    <div class="content">
      <h2>August, 2017</h2>
      <p>It was my Birthday, you came at 12:00 AM from indra nagar to my house 'totaly wasted', just to wish me. I will never forget that. Nobody ever made me feel this special. Thanks Ramu!!!</p>
    </div>
  </div>

  <div class="container left">
    <div class="content">
      <h2>August, 2017</h2>
      <p>Remember Irish, How we said that it'll be our <i>ADDA</i>. That Monday when i tried <i>Old fashioned</i> and got wasted. </p>
    </div>
  </div>

  <div class="container right">
    <div class="content">
      <h2>September, 2017</h2>
      <p>Time for another movie - Kingsmen, The Golden Circle - you and yash were late, traffic and rain in Bangalore. End of month - Changed everything #merkoPritechNahiJana</p>
    </div>
  </div>

  <div class="container left">
    <div class="content">
      <h2>October, 2017</h2>
      <p> Highlight of it all was meeting you - "it was raining #OnceAWeekPact, i walked a 1km in rain that day to reach your apartment. Thanks for tolerating my Bitching
      </p>
      <p>Celebrated Diwali with you, It was awesome.</p>
    </div>
  </div>

  <div class="container right">
    <div class="content">
      <h2>November, 2017</h2>
      <p>It was going pretty stale. Finaly we all met at The Float</p>
      <p>After this not much happened. I tried every chance that i could get to go to voyager but mostly because of your shift, missed catching up with you.</p>
    </div>
  </div>

  <div class="container left">
    <div class="content">
      <h2>December, 2017</h2>
      <p>After this we mostly talked over whatsapp, so I don't have much to write.</p>
    </div>
  </div>
</div>

